.example-card {
  width: 250px;
  max-width: 400px;
  margin: 8px 0;
  border-radius: 8px;

  img {
    border-radius: 50%;
  }
}

button {
  margin: 8px 0;

  mat-icon {
    margin-right: 8px;
  }
}

.items {
  display: grid;
  gap: 20px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
