<mat-tab-group animationDuration="0ms">
  <mat-tab label="Galeria"
    ><button
      mat-raised-button
      color="primary"
      (click)="dialogs.openGalleryDialog()"
    >
      <mat-icon>add</mat-icon>Adicionar nova foto
    </button>
    <div class="items gallery">
      <txa-gallery-admin-card
        *ngFor="let item of photos"
        [item]="item"
      ></txa-gallery-admin-card>
    </div>
  </mat-tab>
  <mat-tab *ngFor="let item of tabs" [label]="item.label">
    <button
      mat-raised-button
      color="primary"
      (click)="dialogs.openAderecoDialog(item.dialog)"
    >
      <mat-icon>add</mat-icon>{{ item.buttonLabel }}
    </button>
    <div class="items">
      <txa-inventory-item-card
        *ngFor="let content of item.content"
        [item]="content"
      ></txa-inventory-item-card>
    </div>
  </mat-tab>

  <mat-tab label="Acessórios"></mat-tab>
</mat-tab-group>
