button {
  margin: 8px 0;

  mat-icon {
    margin-right: 8px;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
}
