.gallery {
  padding: 24px 2em;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
  gap: 24px;
  padding-top: 24px;
}

.gallery-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .gallery {
    margin-left: -1em;
    padding: 24px 1em;
  }
}

@media screen and (max-width: 768px) {
  .gallery-items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding-top: 24px;
  }
}
