.gallery {
  padding: 24px 14em;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
  gap: 24px;
  padding-top: 24px;
}

.gallery-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
