<p>Criar a boneca</p>
<mat-stepper orientation="vertical" linear="true" #stepper>
  <mat-step
    color="primary"
    [stepControl]="getFormControl('skin')"
    [editable]="true"
  >
    <form [formGroup]="orderForm">
      <ng-template matStepLabel>Escolha o tom de Pele</ng-template>
      <txa-order-assembler-group
        [optionList]="peleOptions"
        [formName]="'skin'"
        [formGroup]="orderForm"
      >
      </txa-order-assembler-group>
      <div>
        <button mat-raised-button color="accent" mat-button matStepperNext>
          Próximo
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step
    [completed]="isFormValid('hair') && isFormValid('hairDescription')"
    [editable]="true"
  >
    <form [formGroup]="orderForm">
      <ng-template matStepLabel>Escolha o cabelo</ng-template>
      <txa-order-assembler-group
        [optionList]="cabeloOptions"
        [formName]="'hair'"
        [formGroup]="orderForm"
      >
      </txa-order-assembler-group>
      <mat-form-field appearance="fill">
        <mat-label>Como será o cabelo?</mat-label>
        <input
          formControlName="hairDescription"
          matInput
          placeholder="Crespo e Liso"
        />
        <mat-hint>Dê uma breve descrição do cabelo</mat-hint>
      </mat-form-field>
      <div>
        <button mat-raised-button color="accent" mat-button matStepperPrevious>
          Back
        </button>
        <button mat-raised-button color="accent" mat-button matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="getFormControl('dress')" [editable]="true">
    <form [formGroup]="orderForm">
      <ng-template matStepLabel>Escolha o vestido</ng-template>
      <txa-order-assembler-group
        [optionList]="vestidoOptions"
        [formName]="'dress'"
        [formGroup]="orderForm"
      >
      </txa-order-assembler-group>
      <div>
        <button mat-raised-button color="accent" mat-button matStepperPrevious>
          Back
        </button>
        <button mat-raised-button color="accent" mat-button matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="getFormControl('shoe')" [editable]="true">
    <form [formGroup]="orderForm">
      <ng-template matStepLabel>Escolha o sapato</ng-template>
      <txa-order-assembler-group
        [optionList]="sapatoOptions"
        [formName]="'shoe'"
        [formGroup]="orderForm"
      >
      </txa-order-assembler-group>
      <div>
        <button mat-raised-button color="accent" mat-button matStepperPrevious>
          Back
        </button>
        <button
          mat-raised-button
          color="accent"
          mat-button
          matStepperNext
          (click)="openDialog()"
        >
          Finish
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
