<header *ngIf="!isAdmin">
  <div class="site-name">
    <h1>Maria Tuxinha</h1>
  </div>
  <ng-container [ngTemplateOutlet]="pages"></ng-container>
</header>

<div class="mobile-menu">
  <mat-icon
    class="open-menu"
    *ngIf="!menuOpened"
    (click)="menuOpened = !menuOpened"
    >menu</mat-icon
  >
  <mat-icon
    class="close-menu"
    *ngIf="menuOpened"
    (click)="menuOpened = !menuOpened"
    >clear</mat-icon
  >
</div>

<div class="sidebar-mobile {{ menuOpened ? 'open' : 'closed' }}">
  <ng-container [ngTemplateOutlet]="pages"></ng-container>
  <div class="backdrop"></div>
</div>

<ng-template #pages>
  <div class="pages">
    <a
      [class.active]="isInPage('/home')"
      routerLink="/home"
      routerLinkActive="active"
      >Início</a
    >
    <a
      [class.active]="isInPage('about')"
      routerLink="/about"
      routerLinkActive="active"
      >Sobre</a
    >
    <a
      [class.active]="isInPage('contact')"
      routerLink="/contact"
      routerLinkActive="active"
      >Contato</a
    >
  </div>
  <button mat-button class="create-doll" href="/create-order">
    <mat-icon>border_color</mat-icon>Crie sua boneca
  </button>
</ng-template>
