:host {
  display: flex;
  width: 100%;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  margin: 2em;
  align-items: center;
  justify-content: space-between;
  padding: 0 14em;

  .site-name {
    display: flex;
    justify-content: center;

    h1 {
      color: var(--color-text-primary);
      font-family: "Sacramento";
      font-size: 3em;
      font-weight: bold;
      margin: 0;
      line-height: 1.5em;
      white-space: pre;
    }
  }

  .pages {
    display: flex;
    justify-content: space-evenly;
    min-width: 20em;

    a {
      font-size: 1.5em;
      text-decoration: none;
      color: var(--color-text-quaternary);
      font-weight: 300;

      &.active {
        box-shadow: 0px 10px 0px -9px #000000;
      }
    }
  }

  .create {
    a {
      text-decoration: none;
      color: #000000;
      font-size: 1.2em;
      font-weight: 300;
      background-color: var(--color-text-primary);
      color: var(--color-primary);
      padding: 0.6em 1em;
      border-radius: 8px;
      height: 30px;
      width: 9em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      mat-icon {
        font-size: 1.2em;
        margin-right: 4px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    margin: 0em;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;

    .site-name {
      display: flex;
      justify-content: center;

      h1 {
        color: var(--color-text-primary);
        font-family: "Sacramento";
        font-size: 3em;
        font-weight: bold;
        margin: 0;
        line-height: 1.5em;
      }
    }

    .pages {
      display: none;
    }

    .create {
      display: none;
    }
  }
}
