<header *ngIf="!isAdmin">
  <div class="site-name" routerLink="/home" routerLinkActive="active">
    <h1>Maria Tuxinha</h1>
  </div>
  <ng-container [ngTemplateOutlet]="pages"></ng-container>
</header>

<div class="mobile-menu">
  <mat-icon
    class="{{ menuOpened ? 'close' : 'open' }}-menu"
    (click)="menuOpened = !menuOpened"
    >{{ menuOpened ? "clear" : "menu" }}</mat-icon
  >
</div>

<div class="sidebar-mobile {{ menuOpened ? 'open' : 'closed' }}">
  <ng-container [ngTemplateOutlet]="pages"></ng-container>
  <div class="backdrop"></div>
</div>

<ng-template #pages>
  <div class="pages" (click)="menuOpened = !menuOpened">
    <a
      [class.active]="isInPage('/home')"
      routerLink="/home"
      routerLinkActive="active"
      >Início</a
    >
    <a
      [class.active]="isInPage('about')"
      routerLink="/about"
      routerLinkActive="active"
      >Sobre</a
    >
    <a
      [class.active]="isInPage('contact')"
      routerLink="/contact"
      routerLinkActive="active"
      >Contato</a
    >
  </div>
  <a class="create-doll" href="/create-order">
    <mat-icon>border_color</mat-icon>Crie sua boneca
  </a>
</ng-template>
