:host {
  display: flex;
  width: 100%;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  margin: 2em;
  align-items: center;
  justify-content: space-between;
  padding: 0 14em;

  .site-name {
    h1 {
      color: var(--color-text-primary);
      font-family: "Sacramento";
      font-size: 3em;
      font-weight: bold;
      margin: 0;
      line-height: 1.5em;
      white-space: pre;
    }
  }

  .pages {
    display: flex;
    justify-content: space-evenly;
    min-width: 20em;
  }
}

a.create-doll {
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  background-color: var(--color-text-primary);
  color: var(--color-primary);
  padding: 0.6em 1em;
  border-radius: 8px;
  white-space: pre;

  mat-icon {
    font-size: 1.2em;
    margin-right: 4px;
  }
}

a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--color-text-quaternary);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    box-shadow: 0px 10px 0px -9px #000000;
  }
}

.sidebar-mobile,
.mobile-menu mat-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    margin: 0em;
    justify-content: center;
    padding: 1em 2em;

    .pages,
    .create,
    .create-doll {
      display: none;
    }
  }

  .mobile-menu mat-icon {
    color: var(--color-text-primary);
    display: block;
    position: absolute;
    z-index: 1010;
    top: 1em;
    font-size: 2em;
    transition: left 0.5s ease;

    &.close-menu {
      left: 3.5em;
    }

    &.open-menu {
      left: 1.5em;
    }
  }

  .sidebar-mobile {
    background-color: var(--color-primary);
    display: flex;
    width: 200px;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    position: absolute;
    top: 0;
    z-index: 1000;

    .pages {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      margin-top: 5em;
    }

    a {
      margin-bottom: 1em;
    }

    &.open {
      left: 0;
    }

    &.closed {
      left: -230px;
    }

    transition: left 0.5s ease-in-out;
  }
}
