.admin-gallery-card {
  width: 200px;
  margin: 8px 0;
  border-radius: 8px;

  --hidden: #ffffff;
  --hidden-alt: #f3f3f3;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }

  .content {
    height: 40px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}
