<div></div>

<mat-card class="gallery-card">
  <ngx-skeleton-loader
    mat-card-image
    *ngIf="!isImageLoaded"
    [theme]="{
      height: '250px',
      padding: '0',
      margin: '0',
      'border-radius': '8px',
      'border-bottom-left-radius': '0',
      'border-bottom-right-radius': '0'
    }"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    *ngIf="!isImageLoaded"
    [theme]="{
      padding: '0',
      margin: '0',
      height: '40px',
      'border-radius': '0px'
    }"
  ></ngx-skeleton-loader>
  <img
    *ngIf="isImageLoaded"
    #trigger="cdkOverlayOrigin"
    cdkOverlayOrigin
    mat-card-image
    [attr.referrerpolicy]="'no-referrer'"
    [attr.src]="imageHelper.src"
    (click)="toggleOverlay()"
  />

  <mat-card-header *ngIf="isImageLoaded">
    <div class="card-text">
      <mat-card-subtitle>{{ category }}</mat-card-subtitle>
    </div>
  </mat-card-header>
</mat-card>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOpen]="isOverlayOpened"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayPanelClass]="['overlay-panel']"
  (backdropClick)="toggleOverlay()"
>
  <img
    class="overlayImg"
    [attr.referrerpolicy]="'no-referrer'"
    src="{{ imageSrc.replace('400', '800').replace('400', '800') }}"
  />
</ng-template>
