<div>
  <ngx-skeleton-loader
    *ngIf="!isImageLoaded"
    [theme]="{
      height: '200px',
      padding: '0',
      margin: '0'
    }"
  ></ngx-skeleton-loader>
  <ngx-skeleton-loader
    *ngIf="!isImageLoaded"
    [theme]="{
      padding: '0',
      margin: '0',
      height: '40px'
    }"
  ></ngx-skeleton-loader>
</div>

<mat-card class="gallery-card" *ngIf="isImageLoaded">
  <img
    #trigger="cdkOverlayOrigin"
    cdkOverlayOrigin
    mat-card-image
    [attr.referrerpolicy]="'no-referrer'"
    [attr.src]="imageHelper.src"
    (click)="toggleOverlay()"
  />
  <!--  <skeleton />-->
  <h3 class="expanse">Clique para expandir</h3>

  <mat-card-header>
    <div class="card-text">
      <mat-card-subtitle>{{ category }}</mat-card-subtitle>
    </div>
  </mat-card-header>
</mat-card>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOpen]="isOverlayOpened"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayPanelClass]="['overlay-panel']"
  (backdropClick)="toggleOverlay()"
>
  <img
    class="overlayImg"
    [attr.referrerpolicy]="'no-referrer'"
    src="{{ imageSrc.replace('400', '800').replace('400', '800') }}"
  />
</ng-template>
