<mat-card class="gallery-card"
  [style.visibility]="isImageLoaded ? 'visible' : 'hidden'"
  [style.width]="isImageLoaded ? 'auto' : '0'"
  [style.height]="isImageLoaded ? 'auto' : '0'"
>
  <img
    (load)="finishedLoading()"
    mat-card-image
    (click)="toggleOverlay()"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    src="{{ imageSrc }}"
  />
<!--  <skeleton />-->
  <h3 class="expanse">Clique para expandir</h3>
  <mat-card-header>
    <div class="card-text">
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-title>LOAD {{ isImageLoaded }}</mat-card-title>
      <mat-card-subtitle>{{ category }}</mat-card-subtitle>
    </div>
    <div class="card-icon">
      <mat-icon>share</mat-icon>
    </div>
  </mat-card-header>
</mat-card>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOpen]="isOverlayOpened"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayPanelClass]="['overlay-panel']"
  (backdropClick)="toggleOverlay()"
>
  <img class="overlayImg" src="{{ imageSrc }}" />
</ng-template>
