.inventory-card {
  width: 220px;
  margin: 8px 0;
  border-radius: 8px;
  padding: 0;
  position: relative;
  --available: #ffffff;
  --available-alt: #f3f3f3;

  &.available {
    opacity: 75%;
    background: repeating-linear-gradient(
      45deg,
      var(--available) 0,
      var(--available-alt) 1px,
      var(--available) 0.75em
    );
  }

  .inventory-card-title {
    font-size: 20px;
  }

  .inventory-card-title {
    padding: 8px 16px;
    margin: 0;
  }

  img {
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }

  button {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    right: 16px;

    &.edit-button {
      top: 16px;
    }

    &.visibility-button {
      top: 72px;
    }
  }
}
