<mat-card
  class="inventory-card"
  [class.available]="!item.isAvailable"
  [class.hidden-card]="!item.isAvailable"
>
  <img
    mat-card-sm-image
    [attr.referrerpolicy]="'no-referrer'"
    [src]="pictureUrl"
  />
  <mat-card-title class="inventory-card-title">{{ item.name }}</mat-card-title>

  <mat-card-actions class="actions">
    <button color="primary" class="edit-button" (click)="edit()" mat-mini-fab>
      <mat-icon>edit</mat-icon>
    </button>
    <button
      color="primary"
      (click)="item.isAvailable = !item.isAvailable"
      class="visibility-button"
      mat-mini-fab
    >
      <mat-icon>{{
        item.isAvailable ? "visibility" : "visibility_off"
      }}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
